﻿body {
  margin:0px;
  background-color:rgba(153, 204, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1514px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:955px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#99CCFF;
}
#u10188 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:10px;
  width:1464px;
  height:955px;
  color:#99CCFF;
}
#u10188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#99CCFF;
  text-align:left;
}
#u10190 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:75px;
  width:301px;
  height:74px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#99CCFF;
  text-align:left;
}
#u10190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:297px;
  word-wrap:break-word;
}
#u10191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bernard MT Condensed', 'Bernard MT';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#99CCFF;
}
#u10191 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:75px;
  width:89px;
  height:116px;
  font-family:'Bernard MT Condensed', 'Bernard MT';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#99CCFF;
}
#u10191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:85px;
  word-wrap:break-word;
}
#u10192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#99CCFF;
  text-align:left;
}
#u10192 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:117px;
  width:301px;
  height:74px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#99CCFF;
  text-align:left;
}
#u10192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:297px;
  word-wrap:break-word;
}
#u10193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:845px;
}
#u10193 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:65px;
  width:1000px;
  height:845px;
}
#u10193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:955px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#99CCFF;
}
#u10196 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1000px;
  width:1464px;
  height:955px;
  color:#99CCFF;
}
#u10196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#99CCFF;
  text-align:left;
}
#u10198 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:1065px;
  width:301px;
  height:74px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#99CCFF;
  text-align:left;
}
#u10198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:297px;
  word-wrap:break-word;
}
#u10199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bernard MT Condensed', 'Bernard MT';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#99CCFF;
}
#u10199 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1065px;
  width:89px;
  height:116px;
  font-family:'Bernard MT Condensed', 'Bernard MT';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#99CCFF;
}
#u10199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:85px;
  word-wrap:break-word;
}
#u10200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#99CCFF;
  text-align:left;
}
#u10200 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:1107px;
  width:301px;
  height:74px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#99CCFF;
  text-align:left;
}
#u10200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:297px;
  word-wrap:break-word;
}
#u10201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:787px;
}
#u10201 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:1107px;
  width:246px;
  height:787px;
}
#u10201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:955px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#99CCFF;
}
#u10204 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:2000px;
  width:1464px;
  height:955px;
  color:#99CCFF;
}
#u10204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#99CCFF;
  text-align:left;
}
#u10206 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:2065px;
  width:301px;
  height:74px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#99CCFF;
  text-align:left;
}
#u10206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:297px;
  word-wrap:break-word;
}
#u10207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bernard MT Condensed', 'Bernard MT';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#99CCFF;
}
#u10207 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:2065px;
  width:89px;
  height:116px;
  font-family:'Bernard MT Condensed', 'Bernard MT';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#99CCFF;
}
#u10207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:85px;
  word-wrap:break-word;
}
#u10208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#99CCFF;
  text-align:left;
}
#u10208 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:2107px;
  width:301px;
  height:74px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#99CCFF;
  text-align:left;
}
#u10208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:297px;
  word-wrap:break-word;
}
#u10209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1318px;
  height:575px;
}
#u10209 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:2208px;
  width:1318px;
  height:575px;
}
#u10209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
